@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rozha+One&display=swap');
:root {
    font-family: 'Roboto';
    color: black;
    background: #FFFFFF
}


header .offers-line {
    background-color: #333333;
    text-align: right;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    width: 1440px;
}

#offersline {
    margin-right: 74px;
}

#search {
border-color: transparent;
width: 750px;
height: 20px;
letter-spacing: 0.1em;
align-items:  center;
}

::placeholder {
    color: black;
    font-size: 18px;
}
    
#main-apt-logo {
    width: 78px;
    height: 63px;
    left: 74px;
    top: 52px;
    margin-top: 10px;
    align-items:  center;
    margin-left: 74px;
}

header .customerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
}

header .customerbar a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px
}

#icon-notlogged-profile {
    width: 24px;
    height: 24px; 
}

#icon-heart-saveditems {
    width: 26px;
    height: 26px;  
}

#icon-empty-cart {
   width: 24px;
   height: 24px;  
}

#my-account {
    margin-left: 8px;
    margin-right: 21px;
}

#wish-list {
   margin-left: 6px;
   margin-right: 21px; 
}

#shopping-cart {
    margin-left: 9px;
    margin-right: 74px;

}

header .mainmenu {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    background-color: #F9F9F9;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 1440px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    
}

header nav .mainmenu {
margin-right: 74px;
margin-left:  74px;
}

header .mainmenu a {
    text-decoration: none;
    color: black;
}

#new-arrivals {
   
}

#mmenu-shipping {
    margin-right: 0px;
}

@media (min-width: 500px) {
    nav .mainmenu a {
        display: flex;
        flex-direction: block;
    }
}


footer {
    background-color: #333333

}

footer .white-text {
		color: white;
	}